.navbarImage {
  height: 100%;
  width: 2.5rem;
  border: 2px solid white;
  padding-top: 0.5rem;
}
@media screen and (min-width: 767px) {
  .navbarImage {
    width: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .navbarImage {
    width: 5rem;
  }
}

.navLink {
  text-decoration: none;
  color: #045cac;
  font-size: 1.25rem;
}
@media screen and (min-width: 767px) {
  .navLink {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .navLink {
    font-size: 2rem;
  }
}

.navLink:hover {
  border-bottom: 2px solid #045cac;
  transition: 0.5s;
}

.navLink:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.navLink:hover:after {
  width: 100%;
  background: blue;
}
