* {
  /* border: 2px solid red; */
}
.container {
  /* border: 3px solid red; */
}

.ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.li {
  height: auto;
  background: beige;
  border: 3px solid red;
}

.li img {
  width: 100%;
}
