* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/vdp_granola_roll.png");
}

.heroCenter {
  border: 2px solid red;
  color: #fff;
}

.heroTitle {
  text-transform: uppercase;
  z-index: 1;
  font-size: 5rem;
}

.heroSubTitle {
  color: rgb(241, 249, 16);
  letter-spacing: 0.25rem;
}
.heroImage {
  background: linear-gradient(rgba(0, 0, 0, 1)) no-repeat;
}

.btn {
  padding: 1 rem 3 rem;
  font-size: 1 rem;
}
