* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jobCardContainer {
  display: grid;
  padding: 15px 9%;
  padding-bottom: 12rem;
  grid-template-columns: 1fr 1fr 1fr;
  height: 5rem;
  justify-content: center;
}

.jobCardContainer .jobCardHeading {
  text-align: center;
  padding-bottom: 1rem;
  color: #fff;
  font-size: 10rem;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.jobCardContainer .jobCardBoxContainer {
  display: grid;
  grid-template-columns: repeat((auto-fit, minmax(270px, 1fr)));
  gap: 1rem;
}

.jobCardContainer .jobCardBoxContainer .jobCardBox {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  background: #fff;
  text-align: center;
  padding: 30px 20px;
}

.jobCardContainer .jobCardBoxContainer .jobCardBox h2 {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
