* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  /* list-style: none; */
  padding: 1rem;
  background-color: rgb(67, 67, 236);
  text-decoration: none;
}

.listItem {
  color: white;
}
