* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: linear-gradient(rgba(2, 2, 28, 0.5), rgba(255, 255, 0, 0.5)),
    url("../../assets/vdp_granola_roll.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.heroCenter {
  color: #fff;
}

.heroTitle {
  text-transform: uppercase;
  z-index: 1;
  font-size: 8rem;
}

.heroSubTitle {
  color: rgb(241, 249, 16);
  letter-spacing: 0.25rem;
  font-size: 5rem;
}

.heroSubTitle strong {
  font-size: 7rem;
  text-transform: uppercase;
}
.heroImage {
  background: linear-gradient(rgba(0, 0, 0, 1));
}

.btn {
  padding: 1 rem 3 rem;
  font-size: 1 rem;
}
