.divideSection {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  @media screen and (min-width: 320px) {
    height: 30vh;
  }
  @media screen and (min-width: 676px) {
    height: 30vh;
  }
}

.divideContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.divideContainer img {
  width: 100%;
  transition: all 0.5s;
}
.divideContainer h3 {
  font-size: 3vw;
  @media screen and (min-width: 320px) {
    transform: translateY(-50%);
  }
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background-color: black;
  transform: translateY(100%);
}

.divideContainer:hover .caption {
  transform: translateY(0);
}

.divideContainer:hover img {
  transform: translateY(-30%);
  @media screen and (min-width: 320px) {
    transform: translateY(-50%);
  }
}
